@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; }
body { font-family: Lato; }
.padding0 { padding: 0 !important }
.paddingL0 { padding-left: 0 !important }
.paddingR0 { padding-right: 0 !important }
.paddingT20 { padding-top: 20px !important }
.marginT10 { margin-top: 10px; }
.spacer5 { height: 5px; clear: both; display: block; }
.spacer10 { height: 10px; clear: both; display: block; }
.spacer20 { height: 20px; clear: both; display: block; }
.marginbt20{margin-bottom:20px;}
.ol, ul, li { list-style: none; }
ul { padding: 0; margin: 0 !important; }
a, a:hover { text-decoration: none !important; }
.clear { clear: both }
@font-face {
    font-family:lato;
    src:url(../fonts/Lato/Lato-Regular_0.ttf);
}
/***********************************************/

.banner {
  background: rgba(0, 0, 0, 0) url("../images/banner.jpg") no-repeat scroll 0 0 / 100% auto;
   background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  height: auto;
}
.container {
  margin: 0 auto;
}
.main_heading h1 {
  color: #fff;
  font-size: 105px;
  margin: 0 auto;
  text-transform: uppercase;
  width: 83%;
}
.main_heading {
  padding: 20px 60px 0;
}
.main_heading span {
  font-size: 72px;
}
.main_heading h5 {
  color: #d1d1d1;
  font-size: 50px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.Contact_us {
  background-color: #234765;
  padding: 8px 0 16px;
}
.address_1 > p {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  width: 54%;
}
.address_1 > h5 {
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
.address_2 > p {
  color: #fff;
  text-align: center;
    width: 37%;
	  margin: 0 auto;
}
.address_2 > h5 {
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
.phones > p {
  color: #fff;
  text-align: center;
}
.phones > h5 {
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
.book_min1 {
  padding-bottom: 70px;
  text-align: center;
}

a.book_min {
  background-color: #f2594b;
  border-radius: 40px;
  color: #fff;
  display: inline-block;
  font-family: Roboto;
  font-size: 24px;
  margin: 0 auto;
  padding: 5px 30px;
  text-align: center;
  width: 550px;
}
.button_heading > h5:hover {
  background-color: #BF463B;

}
.paragraph_heading p {
  color: #fff;
  font-size: 31px;
  line-height: 30px;
  text-align: center;
}
.call_heading {
  padding-bottom: 40px;
  padding-top: 80px;
}

.call_heading > h4 {
  color: #fff;
  font-size: 63px;
  text-align: center;
}
.paragraph_heading {
  padding-bottom: 50px;
}
.button_heading {
  padding-bottom: 50px;
}
.images_avvo {
  background-color: #bfc5c8;
  padding: 58px 0;
}
.client_say .container > a {
  background-color: #f2594b;
  border-radius: 40px;
  color: #fff;
  display: block;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 69px auto 0;
  padding: 14px 48px;
  text-transform: uppercase;
  width: 49%;
}
.meet {
  padding: 92px 0;
}
.meet_heading > h1 {
  color: #234765;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}
.meet_heading {
  text-align: center;
}
.meet_heading > p {
  color: #737373;
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 116px;
  padding-top: 26px;
  text-align: center;
}
.meet_heading > a {
  background-color: #f2594b;
  border-radius: 40px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  padding: 14px 48px;
  text-align: center;
  text-transform: uppercase;
 
}
.immigration {
  background-color: #234765;
  padding: 92px 0;
  
}

.images_part img {
  margin: auto;
}
.call_heading hr {
  margin: 0 auto;
  padding: 8px 10px;
  width: 60%;
}
.immigration .container > h1 {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}
.immigration .container > p {
  color: #fff;
  font-size: 20px;
  padding-bottom: 40px;
  padding-top: 12px;
  text-align: center;
}
.all_box_sec {
  margin-bottom: 99px;
}
.box-1 > h1 {
  color: #222222;
  font-size: 24px;
  font-weight: 700;
   padding-top: 15px;
  
}
.box-1 > p {
  color: #737373;
  font-size: 16px;
  padding-bottom: 13px;
  padding-top: 19px;
}
.box-1 a {
  color: #737373;
  font-size: 16px;
  text-align: left;
  text-decoration: underline ! important ;
}
.box-1 {
  background-color: #fff;
  min-height: 280px;
  padding: 0 15px 20px;
}
.immigration .container > a {
  background-color: #f2594b;
  border-radius: 40px;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  padding: 14px 48px;
  text-transform: uppercase;
  width: 49%;
}
.client_say {
  padding: 70px 0;
}
.client_say .container > h1 {
  color: #222;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.client_say .container > p {
  color: #737373;
  font-size: 20px;
  padding-top: 12px;
  text-align: center;
}
.all_right {
  background-color: #bfc5c7;
  padding: 40px 0;
}
.all_right .container > h1 {
  color: #fff;
  font-size: 22px;
  text-align: center;
}
.all_right .container > p {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.all_right a {
  color: #fff;
}

.modal-title {
  color: #000;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.42857;
  margin: 0;
  
  text-align: center;
}
.modal-dialog {
  margin: 30px auto;
  width: 760px;
}
.modal-body input {
  margin-bottom: 10px;
  padding: 9px 0;
  width: 100%;
}
.modal-header {
  border-bottom: medium none navy;
  padding: 0;
}
.pop_up_box input {
  border: 1px solid rgb(204, 204, 204);
  padding: 6px 0;
  width: 100%;
}
.pop_up_box > span {
  color: #737373;
}
.pop_up_box select {
  padding: 9px 0;
  border: 1px solid rgb(204, 204, 204);
  width: 100%;
}
.pop_up_box .col-xs-12.col-md-12 > button {
  background-color: #f2594b;
  border: medium none;
  border-radius: 18px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin-top: 27px;
  padding: 6px 0;
  width: 100%;
}
.pop_up_box .col-xs-12.col-md-12 > button:hover {
  background-color: #BF463B;

}
.modal-content {
  padding: 32px 32px;
}
.client_1 {
  background-color: #f7f7f7;
  border: 1px solid #d1d1d1;
  height: 376px;
  margin-top: 20px;
  padding: 15px;
}
.client_1 > p {
  color: #222;
  text-align: justify;
}
.client_1 > h5 {
  font-size: 16px;
  font-weight: 700;
  padding-top: 20px;
}

/*************** Responsive CSS************/

@media screen and (max-width: 1200px) {
	
.client_1 {

  height: 450px;

}	
.main_heading h1 {

  font-size: 86px;

}
.main_heading span {
  font-size: 59px;
}
.main_heading h5 {

  font-size: 41px;

}
.call_heading > h4 {

  font-size: 60px;

}	
.paragraph_heading {
  padding-bottom: 27px;
}
.immigration .container > a {

  font-size: 18px;
  width: 55%;
  text-align: center;

}
.client_say .container > a {

  font-size: 18px;
  width: 55%;
  text-align: center;

}
.book_min1 {
  padding-bottom: 34px;

}
.box-1 {

  min-height: 324px;

}

@media screen and (max-width: 1024px) {
	
	.client_1 {
  height: 600px;
}
	
.main_heading h1 {
  font-size: 62px;
  text-align: center;
}
.main_heading span {
  font-size: 45px;
}
.main_heading h5 {
  font-size: 31px;
}
.call_heading > h4 {
  font-size: 43px;
}
.paragraph_heading p {
  color: #fff;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
}
.book_min1 {
  padding-bottom: 1px;
}
.call_heading {
  padding-bottom: 11px;
  padding-top: 0;
}
.main_heading {
  padding: 4px 60px 0;
}
.box-1 {
  min-height: 356px;
}
.immigration .container > a {
  padding: 14px 12px;
  text-align: center;
  width: 72%;
}
.client_say .container > a {
  padding: 14px 12px;
  text-align: center;
  width: 72%;
}
.box-1 > h1 {
  
  font-size: 18px;

}
.banner {
  background: rgba(0, 0, 0, 0) url("../images/banner.jpg") no-repeat scroll center center / cover ;
  height: 505px;
}
}

@media screen and (max-width: 767px) {

.client_1 {
  height: auto;
}
	.banner {
  background: rgba(0, 0, 0, 0) url("../images/banner.jpg") no-repeat scroll center center / cover ;
  height: 400px;
}
.main_heading h1 {
  font-size: 47px;
   text-align: center;
}
.main_heading {
  padding: 18px 13px 0;
}
.meet_heading > p {
  font-size: 14px;
  line-height: 20px;
   padding-top: 0;
    padding-bottom: 25px;
}

.call_heading > h4 {
  font-size: 28px;
  margin: 4px 0;
}
.main_heading h5 {
  font-size: 22px;
}
.main_heading span {
  font-size: 24px;
}
.meet_heading > a {
 font-size: 14px;
    padding: 14px 40px;
    width: 100%;
}	
.immigration .container > h1 {
  color: #fff;
  font-size: 29px;
  font-weight: 700;
  text-align: center;
}
.paragraph_heading p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
a.book_min {
  background-color: #f2594b;
  border-radius: 40px;
  color: #fff;
  display: inline-block;
  font-family: Roboto;
  font-size: 14px;
  margin: 0 auto 1px;
  padding: 5px 30px;
  text-align: center;
  width: 295px;
}
.immigration .container > p {
  color: #fff;
  font-size: 16px;
  padding-bottom: 1px;
  padding-top: 3px;
  text-align: center;
}
.box-1 > p {
  color: #737373;
  font-size: 16px;
  padding-bottom: 4px;
  padding-top: 1px;
}
.images_part img {
  margin: auto auto 20px;
}
.client_say {
  padding: 10px 0;
}
.client_say .container > p {
  color: #737373;
  font-size: 14px;
  padding-top: 0;
  text-align: center;
}
.all_right .container > p {
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.all_right .container > h1 {
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.all_right {
  background-color: #bfc5c7;
  padding: 0;
}
.all_box_sec {
  margin-bottom: 26px;
}
.meet_heading > h1 {

  font-size: 26px;
 
}
.immigration {
  background-color: #234765;
  padding: 10px 0 30px;
}
.meet {
  padding: 10px 0 36px;
}
.call_heading hr {
  margin-top: 23px;
  padding: 2px 14px;
}
.call_heading {
  padding-bottom: 22px;
  padding-top: 22px;
}
.client_say .container > h1 {
  color: #222;
  font-size: 29px;
  font-weight: bold;
  text-align: center;
}
.immigration .container > a {
  font-size: 17px;
  padding: 14px 40px;
  width: 100%;
   text-align: center;
}
.client_say .container > a {
  font-size: 17px;
  padding: 14px 40px;
  width: 100%;
   text-align: center;
    margin: 20px auto 0;
}
.modal-dialog {

  width: 100%;
}
.box-1 {
  min-height: 171px;
}
.modal-title {

  font-size: 33px;

}
.pop_up_box .col-xs-12.col-md-12 > button {

  font-size: 17px;

}
}

@media screen and (max-width: 480px) {
	.banner {
  background: rgba(0, 0, 0, 0) url("../images/banner.jpg") no-repeat scroll center center / cover ;
  height: 446px;
}
.main_heading h1 {
  font-size: 29px;
   text-align: center;
}
.main_heading {
  padding: 18px 13px 0;
}
.meet_heading > p {
  font-size: 14px;
  line-height: 20px;
   padding-top: 0;
    padding-bottom: 25px;
}

.call_heading > h4 {
  font-size: 30px;
  margin: 4px 0;
}
.main_heading h5 {
  font-size: 14px;
}
.main_heading span {
  font-size: 24px;
}
.meet_heading > a {
 font-size: 12px;
    padding: 14px 9px;
    width: 100%;
}	
.immigration .container > h1 {
  color: #fff;
  font-size: 29px;
  font-weight: 700;
  text-align: center;
}
.paragraph_heading p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
a.book_min {
  background-color: #f2594b;
  border-radius: 40px;
  color: #fff;
  display: inline-block;
  font-family: Roboto;
  font-size: 14px;
  margin: 0 auto 1px;
  padding: 5px 30px;
  text-align: center;
  width: 295px;
}
.immigration .container > p {
  color: #fff;
  font-size: 16px;
  padding-bottom: 1px;
  padding-top: 3px;
  text-align: center;
}
.box-1 > p {
  color: #737373;
  font-size: 16px;
  padding-bottom: 4px;
  padding-top: 1px;
}
.images_part img {
  margin: auto auto 20px;
}
.client_say {
  padding: 10px 0;
}
.client_say .container > p {
  color: #737373;
  font-size: 14px;
  padding-top: 0;
  text-align: center;
}
.all_right .container > p {
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.all_right .container > h1 {
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.all_right {
  background-color: #bfc5c7;
  padding: 0;
}
.all_box_sec {
  margin-bottom: 26px;
}
.meet_heading > h1 {

  font-size: 25px;
 
}
.immigration {
  background-color: #234765;
  padding: 10px 0 30px;
}
.meet {
  padding: 10px 0 36px;
}
.call_heading hr {
  margin-top: 23px;
  padding: 2px 14px;
}
.call_heading {
  padding-bottom: 22px;
  padding-top: 22px;
}
.client_say .container > h1 {
  color: #222;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.immigration .container > a {
  width: 100%;
  padding: 14px 9px;
  text-align: center;
  font-size: 12px;
}
.client_say .container > a {
  font-size: 12px;
  padding: 14px 9px;
  text-align: center;
  width: 100%;
  margin: 16px auto 0;
}
.modal-dialog {

  width: 100%;
}
.modal-title {

  font-size: 33px;

}
.pop_up_box .col-xs-12.col-md-12 > button {

  font-size: 17px;

}
}
