
.provide{padding: 7em 0;}
.img-back{width: 75%;
    border-radius: 10px;
    margin: 0 auto;
    display: table;
    box-shadow: 0px 1px 15px 5px rgba(112, 112, 112, 0.15);
}
.title-head{color: #006489;}
.blue-font {
    color: #006489;
}
p{font-size:18px;
    font-family: 'Montserrat', sans-serif}
.l-h{color: #575757;}
.tab-content .tab-pane{margin-top: 2em;}
.ser-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 15px;
}
.ser-tab li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 14px;
}
.ser-tab li a {
    margin-top: 20px;
    text-align: center;
    padding: 10px 15px;
    height: 110px;
    min-width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border-radius: 7px;
    -webkit-box-shadow: 0px 3px 8px 0px #FBFBFB;
    box-shadow: 0px 3px 8px 0px #FBFBFB;
}
.ser-tab li a::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: 0px;
    left: 50%;
    opacity: 0;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    border-radius: 0px 0px 7px 0px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ns-services .ser-tab li a.active:after {
    content: " ";
    background-color: #0cb8b6;
    width: 139px;
    height: 85px;
    position: absolute;
    z-index: -1;
    left: -16px;
    top: -14px;
    bottom: 0;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    /* border-bottom: none; */
    opacity: 0.4;

}
.ns-services .ser-tab li .g-light-pink.active:after {
    background-color: #e6492d;
}
.ns-services .ser-tab li .g-light-green.active:after {
    background-color: #37af47;
}
.ns-services .ser-tab li .g-light-blue:hover {
    background-color: #0cb8b6;
        -webkit-box-shadow: 0px 1px 30px 0px rgba(112, 112, 112, 0.3);
    box-shadow: 0px 1px 30px 0px rgba(112, 112, 112, 0.3);
}
.ns-services .ser-tab li .g-light-pink:hover {
    background-color: #e6492d;
           -webkit-box-shadow: 0px 1px 30px 0px rgba(112, 112, 112, 0.3);
    box-shadow: 0px 1px 30px 0px rgba(112, 112, 112, 0.3);
}
.ns-services .ser-tab li .g-light-green:hover {
    background-color: #37af47;
           -webkit-box-shadow: 0px 1px 30px 0px rgba(112, 112, 112, 0.3);
    box-shadow: 0px 1px 30px 0px rgba(112, 112, 112, 0.3);
}
.ser-tab li a img {
    width: 48px;
    height: 48px;
}
.ser-tab li a span {
    display: block;
    font-weight: 500;
    color: #006489;
    margin-top: 4px;
    margin-bottom: -6px;
}
.figure {
    padding: relative;
}
.figure::before {
    height: 100%;
    width: 24px;
    background: #FFF;
    position: absolute;
    content: "";
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}



.ser-tab li a.active.g-light-blue::before {
    background-color: #0cb8b6 !important;
    bottom: -10px;
    opacity: 1;
}
.ser-tab li a.active.g-light-pink::before {
    background-color: #e6492d !important;
    bottom: -10px;
    opacity: 1;
}
.ser-tab li a.active.g-light-green::before {
    background-color: #37af47 !important;
    bottom: -10px;
    opacity: 1;
}

.ser-tab li a.active.g-blue::before {
    background-color: #1665d8 !important;
    bottom: -10px;
    opacity: 1;
}
.ser-tab li a.active.g-light-orange::before {
    background-color: #f6ab2f !important;
    bottom: -10px;
    opacity: 1;
}
.ser-tab li a.active.g-gray::before {
    background-color: #9ea0a5 !important;
    bottom: -10px;
    opacity: 1;
}



.ser-tab li .g-light-blue {
    background-color: rgba(12, 184, 182, 0.1);
}
.ser-tab li .g-light-pink {
    background-color: rgba(230, 73, 45, 0.1);
}
.ser-tab li .g-light-green {
    background-color: rgba(55, 175, 71, 0.1);
}
.ser-tab li .g-blue {
    background-color: rgba(22, 101, 216, 0.1);
}
.ser-tab li .g-light-orange {
    background-color: rgba(246, 171, 47, 0.1);
}
.ser-tab li .g-gray {
    background-color: rgba(158, 160, 165, 0.1);
}



.ns-services .ser-tab li .active{-webkit-box-shadow: 0px 1px 30px 0px rgba(112, 112, 112, 0.3);
    box-shadow: 0px 1px 30px 0px rgba(112, 112, 112, 0.3);}
.ns-services .ser-tab li .active.g-light-blue {
    background-color: #0cb8b6 !important;
}
.ns-services .ser-tab li .active.g-light-pink {
    background-color: #e6492d !important;
}
.ns-services .ser-tab li .active.g-light-green {
    background-color: #37af47 !important;
}
.ns-services .ser-tab li .active.g-blue {
    background-color: #1665d8 !important;
}
.ns-services .ser-tab li .active.g-light-orange {
    background-color: #f6ab2f !important;
}
.ns-services .ser-tab li .active.g-gray {
    background-color: #9ea0a5 !important;
}
.ns-services .ser-tab li img {
    filter: invert(1);
}
.ns-services .ser-tab li .active img {
    filter: invert(0);
}
.ns-services .ser-tab li .active span {
    color: #fff;
}
.ns-services .ser-tab li a:hover span {
    color: #fff;
}
.ns-services .ser-tab li a:hover img {
    filter: invert(0);
}
.services-acc .card-header {
    box-shadow: 0px 3px 8px 0px #FBFBFB;
}
.services-acc  h5 {
    background-color: transparent;
}
.services-acc button {
    background-color: transparent;
    color: #000;
    border: none;
    height: auto;
    text-decoration: none;
    width: 100%;
    text-align: left;
    padding: .75rem 1.25rem;
    display: inline-flex;
    align-items: center;
}
.services-acc button img {
    filter: invert(1);
    margin-right: 20px;
}
.services-acc .card-header {
    position: relative;
    padding: 0; 
    background-color: transparent;
}
.services-acc .card-header h5 button span {
    position: absolute;
    right: 35px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.services-acc .card-header h5 button span i {
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    display: none;
}
.services-acc .card-header h5 button[aria-expanded="true"] span i:nth-child(2) {
    visibility: visible;
    opacity: 1;
    display: inline;
}
.services-acc .card-body {
    padding: 23px 30px 29px;
}
.services-acc .card-header h5 button[aria-expanded="false"] span i:nth-child(1) {
    visibility: visible;
    opacity: 1;
    display: inline;
}
.services-acc .g-blue {
    background-color: rgba(66, 133, 244, 0.2);
   
}
.services-acc .g-red {
    background-color: rgba(234, 67, 53, 0.2);
}
.services-acc .g-yellow {
    background-color: rgba(251, 177, 5, 0.2);
}
.services-acc .g-green {
    background-color: rgba(52, 168, 83, 0.2);
}
.services-acc  .card-header h5 button[aria-expanded="true"], .services-acc  .card-header h5 button[aria-expanded="true"]:hover  {
    color: #ffffff;
    text-decoration: none;
}
.services-acc  .card-header h5 button:hover  {
    text-decoration: none;
    color: inherit;
}
.services-acc  .card-header h5 button[aria-expanded="true"] img {
    filter: invert(0);
}
.services-acc  .card-header h5 .g-blue[aria-expanded="true"]  {
    background-color: rgba(66, 133, 244, 1);
}
.services-acc  .card-header h5 .g-red[aria-expanded="true"]  {
    background-color: rgba(234, 67, 53, 1);
}
.services-acc  .card-header h5 .g-yellow[aria-expanded="true"]  {
    background-color: rgba(251, 177, 5, 1);
}
.services-acc  .card-header h5 .g-green[aria-expanded="true"]  {
    background-color: rgba(52, 168, 83, 1);
}
.des-hide{display: none;}
@media (max-width: 991px) {
.hidden-tab {
        display: none;
    }
}